var modal = $('.modal.in')

<% if @answer.errors.any? -%>
  var modalBody = modal.find('.modal-body')
  modalBody.find('p.text-danger').remove()
  modalBody.prepend('<p class="text-danger">保存失败！<%= @answer.errors.full_messages.join(". ") %></p>')
<% else -%>
  <% flash[:notice] = '修改答案成功' -%>
  window.location.reload()
<% end %>
