# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6ba3e643f919c4a97b2f4a4601273c3fef2d6007e997f27f8d6f7374e6d238c2a093d34842332f2a53c058488dd0d65453032da9c3e2addc353836b814361377

test:
  secret_key_base: 9baae523b2116db31fa75e5a282a6197683808a15875808fd047633c18d90bad4de349d11219b0b0b587aa2a134bd6124a818fef561b27154e5f1bd7f053e155

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
