defaults: &defaults
  key: 'value'

development:
  <<: *defaults
  # 登录时不调用后台API，而是使用本地数据
  # 仅development环境有用
  use_local_data: true

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
