defaults: &defaults
  key: 'value'

development:
  <<: *defaults
  # 登录时不调用后台API，而是使用本地数据
  use_local_data_to_sign_in: false
  kalading_management_api:
    uri: "http://t.kalading.com:81"
    user: '18655551001'
    pwd: '111111'
    timeout: 20
    max_page: 50
  api:
    secret: 'fd476ecba6cbac53adbe8c19b7e174cafefc3bb9de2b051a5be33448829d01b6c9818157e38efe220c6eb0555c3709527c92bb142e9c3ecc8ffd3ea20642fa84'
  question:
    engineer_race_duration: <%= 1.hour %>
    engineer_answering_duration: <%= 20.minutes %>
    race_limit: 8
  mailer:
    smtp:
      address: ''
      port: 25
      domain: ''
      user_name: ''
      password: ''
  exception_notification:
    recipients:
      - ''
  pic_storage: 'file'
  qiniu:
    access_key: ''
    secret_key: ''
    bucket: ''
    bucket_domain: ''
  host: 'localhost:3000'

test:
  <<: *defaults

staging:
  <<: *defaults
  use_local_data_to_sign_in: false
  kalading_management_api:
    uri: "http://t.kalading.com:81"
    user: '18655551001'
    pwd: '111111'
    timeout: 20
    max_page: 50
  api:
    secret: ''
  question:
    engineer_race_duration: <%= 1.hour %>
    engineer_answering_duration: <%= 20.minutes %>
    race_limit: 8
  mailer:
    smtp:
      address: ''
      port: 25
      domain: ''
      user_name: ''
      password: ''
  exception_notification:
    recipients:
      - ''
  pic_storage: 'qiniu'
  qiniu:
    access_key: ''
    secret_key: ''
    bucket: ''
    bucket_domain: ''
  host: ''

production:
  <<: *defaults
  use_local_data_to_sign_in: false
  kalading_management_api:
    uri: ''
    user: ''
    pwd: ''
    timeout: 20
    max_page: 50
  api:
    secret: ''
  question:
    engineer_race_duration: <%= 1.hour %>
    engineer_answering_duration: <%= 20.minutes %>
    race_limit: 8
  mailer:
    smtp:
      address: ''
      port: 25
      domain: ''
      user_name: ''
      password: ''
  exception_notification:
    recipients:
      - ''
  pic_storage: 'qiniu'
  qiniu:
    access_key: ''
    secret_key: ''
    bucket: ''
    bucket_domain: ''
  host: ''
