---
:concurrency: 1
:pidfile: tmp/pids/sidekiq.pid
:queues:
  - development_high
  - development_default
  - development_low
staging:
  :concurrency: 2
  :queues:
    - staging_high
    - staging_default
    - staging_low
production:
  :concurrency: 20
  :queues:
    - production_high
    - production_default
    - production_low
