.question {
  .question_content {
    margin-bottom: 10px;
  }

  .auto_submodel {
    margin-bottom: 10px;
    color: #999;
  }

  .question_tags {
    margin-bottom: 10px;
  }

  .answer {
    .answer_header {
      position: relative;

      .replier {
        margin-bottom: 10px;

        span {
          display: block;
        }
        .replied_at {
          color: #999;
        }
      }

      .adoption {
        font-size: 19px;
        position: absolute;
        top: 0;
        right: 0;

        a.btn {
          border-color: green;
          color: green;
        }
      }
    }
  }

  a.remote_modal_link {
    margin-left: 20px;
    color: #999;
  }
  a.remote_modal_link.left_align {
    margin-left: 0;
  }

  input.images_ids_checkbox {
    margin-right: 24px;
  }
}

table.questions {
  td.identification {
    padding-top: 13px;
    color: #999;
  }

  td.content {
    padding-top: 13px;
  }

  td.auto_submodel {
    padding-top: 13px;
    color: #999;
  }

  td.answering {
    padding-top: 13px;
    color: #999;
  }

  td.with_copy_action {
    position: relative;
  }

  td.answers_count {
    padding-top: 13px;
    color: #999;
  }
}

ul.questions {
  margin-top: 15px;

  li {
    span.identification {
      display: inline-block;
      width: 80px;
      margin-right: 10px;
      color: #999;
    }

    span.content {
      margin-right: 25px;
    }

    span.answers_count {
      color: #999;
    }
  }
}
