.question {
  .question_content {
    margin-bottom: 10px;
  }

  .auto_submodel {
    margin-bottom: 10px;
    color: #999;
  }

  .question_tags {
    margin-bottom: 10px;
  }

  .answer {
    .answer_header {
      position: relative;

      .replier {
        margin-bottom: 10px;

        span {
          display: block;
        }
        .replied_at {
          color: #999;
        }
      }

      .adoption {
        font-size: 19px;
        position: absolute;
        top: 0;
        right: 0;

        a.btn {
          border-color: green;
          color: green;
        }
      }
    }
  }
}

table.questions {
  td.identification {
    padding-top: 13px;
    color: #999;
  }

  td.content {
    padding-top: 13px;
  }

  td.auto_submodel {
    padding-top: 13px;
    color: #999;
  }
}
